
<div class="is-half">

  <article class="media card me-card" >
      <figure class="media-left me-pic-card">
        <p class="image is-64x85">
          <img src="{{excelencia.urlFoto}}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{excelencia.nome}}</strong> 
            <br>
            <span>{{excelencia.siglaUf}}</span>
            <br>
            <a href="#"><small>{{excelencia.siglaPartido}}</small> </a>
          </p>
        </div>
        <!-- <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
            </a>
          </div>
        </nav> -->
      </div>
      <!-- <div class="media-right">
        <button class="delete"></button>
      </div> -->
    </article>
</div>
  