<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      Minha Excelência 
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="#/deputados">
      Deputados
    </a>
    <a class="navbar-item" href="#/senadores">
      Senadores
    </a>
  </div>

    <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Deputados
        </a>
    
        <div class="navbar-dropdown">
          <a class="navbar-item" *ngFor="let uf of ufs">
            {{uf}}
          </a>
        </div>
      </div> -->
            
  </nav>


  <router-outlet></router-outlet>


<!-- <div class="modal" [ngClass]="{'is-active': modalAtivo}">
  <div class="modal-background" (click)="fecharModal()"></div>
  <div class="modal-content">
      <app-deputado-detalhe [deputado]="deputado"></app-deputado-detalhe>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fecharModal()"></button>
</div> -->