<div class="columns is-multiline is-centered" >
  <button class="button is-small" [ngClass]="{'is-primary': isUFSelecionada(uf)}"
    *ngFor="let uf of ufs" 
    (click)="atualizarUF(uf)">
    {{uf}}
  </button>
  <!--buttonpan class="tag is-danger">No</span> -->
</div>

<nav class="level card is-grouped is-grouped-multiline" style="padding: 5px; margin: 5px">
  <div class="level-left card" style="padding: 5px; margin: 5px">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Membros</p>
        <p class="title">{{this.deputados?.length}}</p>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-multiline">
    <div class="control" *ngFor="let partido of numeroPartidos">
      <div class="tags has-addons">
        <span class="tag">
          {{partido.descricao}}
        </span>
        <span class="tag is-success">{{partido.qtd}}</span>
      </div>
    </div>
  </div>

</nav>

<div class="columns is-multiline ">
    <app-deputado-resumo *ngFor="let dep of deputados"
      class="column is-one-third-tablet is-one-quarter-desktop is-padding-small"
      [excelencia]="dep">
    </app-deputado-resumo>

    <button class="button" *ngIf="proximaConsulta" (click)="carregarProximosDeputados()">
      Carregar próximos
    </button>
</div>