<div class="columns is-multiline is-centered" >
  <button class="button is-small is-uf" [ngClass]="{'is-success': uf === ufSelecionada}"
    *ngFor="let uf of ufs" 
    (click)="atualizarUF(uf)">
    {{uf}}
  </button>
  <button class="button is-small is-uf is-outlined" [ngClass]="{'is-success': !ufSelecionada, 'is-primary': ufSelecionada}"
    (click)="atualizarUF(null)">
    Todos
  </button>
  
</div>

<nav class="level card is-grouped is-grouped-multiline" style="padding: 5px; margin: 5px">
  <div class="level-left card" style="padding: 5px; margin: 5px">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Membros</p>
        <p class="title">{{this.deputados?.length}}</p>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-multiline">
    <div class="control" *ngFor="let partido of deputadosService.partidos">
      <div class="tags has-addons">
        <a class="tag" (click)="filtrarPartido(partido.sigla)">
          {{partido.sigla}}
        </a>
        <span class="tag" [ngClass]="{'is-success': partido.ativo}">{{partido.qtd}}</span>
      </div>
    </div>
  </div>

</nav>

<div class="columns is-multiline ">
    <app-deputado-resumo *ngFor="let dep of recuperarDeputados()"
      class="column is-one-third-tablet is-one-quarter-desktop is-padding-small"
      [excelencia]="dep">
    </app-deputado-resumo>

    <button class="button" *ngIf="proximaConsulta" (click)="carregarProximosDeputados()">
      Carregar próximos
    </button>
</div>